node_modules
.DS_Store
dist

.lock-wscript
build/Release
.dockerignore
Dockerfile
*docker-compose*

*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pid.lock

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
pids
*.pid
*.seed
.git
.hg
.svn
